---
import ArrowSmallLeftIcon from "../components/ArrowSmallLeftIcon.astro";
import ArrowTopRightOnSquareIcon from "../components/ArrowTopRightOnSquareIcon.astro";
import BlogPostFooterCard from "../components/BlogPostFooterCard.astro";
import ContactMe from "../components/ContactMe.astro";
import LinksList from "../components/LinksList.astro";
import NavBar from "../components/NavBar.astro";
import PersonalBio from "../components/PersonalBio.astro";
import SectionBreak from "../components/SectionBreak.astro";
import Layout from "./Layout.astro";

const { entry } = Astro.props;
---

<Layout title={entry.data.title}>
  <NavBar />
  <div class="prose m-auto">
    <a class="flex gap-2 no-underline mb-6" href="/">
      <span class="mt-[6px]"><ArrowSmallLeftIcon /></span>
      <span class="hover:underline">Go home</span>
    </a>
    <h1>{entry.data.title}</h1>
    <p class="text-sm m-0">{entry.data.createdAt}</p>
    <p>{entry.data.description}</p>
    <slot />
    <div class="my-12"><SectionBreak /></div>
    <PersonalBio />
    <ContactMe />
    <div class="md:grid md:grid-cols-2 gap-4 flex flex-col mb-12">
      <BlogPostFooterCard text="See other blog posts" href="/blog" />
      <BlogPostFooterCard text="Check out what I'm building" href="/projects" />
    </div>
    <div class="flex items-center justify-end">
      <a
        href={`https://github.com/jackblatch/Portfolio/tree/main/src/content/blog/${entry.id}`}
        target="_blank"
        rel="noopener noreferrer"
        class="flex gap-2 text-gray-500 hover:text-gray-700"
        >Edit on GitHub <span class="mt-[5px]"
          ><ArrowTopRightOnSquareIcon /></span
        ></a
      >
    </div>
  </div>
</Layout>
